
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Index";
}



<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <!-- end slider -->
            </div>
        </div>
    </div>



</section>
@*<section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>Moderna</span> HTML Business Template</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<section id="content">
    <div class="container">
        @*<div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Fully responsive</h4>
                                    <div class="icon">
                                        <i class="fa fa-desktop fa-3x"></i>
                                    </div>
                                    <p>
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Modern Style</h4>
                                    <div class="icon">
                                        <i class="fa fa-pagelines fa-3x"></i>
                                    </div>
                                    <p>
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Customizable</h4>
                                    <div class="icon">
                                        <i class="fa fa-edit fa-3x"></i>
                                    </div>
                                    <p>
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Valid HTML5</h4>
                                    <div class="icon">
                                        <i class="fa fa-code fa-3x"></i>
                                    </div>
                                    <p>
                                        Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="heading">Recent Works</h4>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            <!-- Item Project and Filter Name -->
                            <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                <div class="item-thumbs">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 1" href="img/works/1.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                                </div>
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 2" href="img/works/2.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="/Content/SiteLayout/img/works/2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 3" href="img/works/3.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="/Content/SiteLayout/img/works/3.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                            <!-- End Item Project -->
                            <!-- Item Project and Filter Name -->
                            <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Work 4" href="img/works/4.jpg">
                                    <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="/Content/SiteLayout/img/works/4.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                            </li>
                            <!-- End Item Project -->
                        </ul>
                    </section>
                </div>
            </div>
        </div>

    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Kurumsal Web Projesi</h5>
                    <address>
                        <strong>@ViewBag.Iletisim.Adres</strong><br>
                        <br>

                    </address>
                    <p>
                        <i class="icon-phone"></i>Telefon: @ViewBag.Iletisim.Telefon <br>

                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Menü</h5>
                    <ul class="link-list">
                        <li><a href="/Home/Index/">Ana Sayfa </a></li>
                        <li><a href="/Home/Hakkimizda/">Hakkımızda</a></li>
                        <li><a href="/Home/Blog/">Blog</a></li>
                        <li><a href="/Home/Hizmetler/">Hizmetlerimiz</a></li>
                        <li><a href="/Home/Iletisim/">Iletisim</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Son Blog Yazıları</h5>
                    <ul class="link-list">
                        @foreach (var item in ViewBag.Blog)
                        {
                            <li><a href="/Home/BlogDetay/@item.BlogID">@item.Baslik</a></li>
                        }


                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Hizmetlerimiz</h5>
                    <div class="flickr_badge">


                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        @DateTime.Now.Year <p>Tüm Hakları Gizlidir.</p>
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Moderna
                            -->
                            Designed by <a href="https://kurumsalweb.com/">Kurumsal Web</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="social-network">
                        <li><a href="www.facebook.com/ViewBag.Iletisim.Facebook" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="www.twitter.com/ViewBag.Iletisim.Twitter" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="www.linkedin.com/ViewBag.Iletisim.Linkedin" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="www.pinterest.com/ViewBag.Iletisim.Pinterest" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="www.googleplus.com/ViewBag.Iletisim.Facebook" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

