@model IEnumerable<KurumsalWeb.Models.Model.Hizmet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmetler</h2>
<a class="btn btn-default" href="/Hizmet/Create/">Yeni Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Baslik</th>
            <th>Aciklama</th>
            <th>Resim URL</th>
            <th>İslemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.HizmetID</td>
            <td>@item.Baslik</td>
            <td>@Html.Raw(item.Aciklama)</td>
            <td><img width"100" height"100" src="@item.ResimURL" /></td>
            <td><a href="/Hizmet/Edit/@item.HizmetID">Düzenle</a> | <a href="/Hizmet/Delete/@item.HizmetID">Sil</a></td>

        </tr>
        }
      
    </tbody>
</table>

